<ul>
  <li><a href="/">Home</a></li>
</ul>

<main>
    <h1>Yuri Vyatkin</h1>
    <h2>Senior Full-Stack Engineer</h2>
    <hr>
    <section>
        <h2>Core Competencies:</h2>
        <ul>
            <li>JavaScript</li>
            <li>Node</li>
            <li>Ruby</li>
            <li>Ruby On Rails</li>
        </ul>
    </section>
    <section>
        <h2>My Bio:</h2>
        <p>Angarsk, Novosibirsk, New Zealand</p>
    </section>
</main>
